process {
    executor = 'local'

    cpus   = 1
    memory = 2.GB
    time   = 4.h

    errorStrategy = 'retry'
    maxRetries    = 1

    resourceLimits = [
        cpus:   params.max_cpus as int,
        memory: new nextflow.util.MemoryUnit(params.max_memory.toString()),
        time:   new nextflow.util.Duration(params.max_time.toString())
    ]

    withLabel: process_low {
        cpus   = 1
        memory = 2.GB
    }
    withLabel: process_medium {
        cpus   = 2
        memory = 4.GB
    }
    withLabel: process_high {
        cpus   = 4
        memory = 6.GB
    }
}
